<div class="hero">
    <div class="hero__content">
      <p class="hero__subtitle">UI/UX DESIGNER</p>
      <h1 class="hero__header">Hello,  my name is Madelyn Torff</h1>
      <p class="hero__description">
        UI/UX Designer crafting seamless & engaging experiences.
      </p>
      <div class="hero__buttons">
        <button class="btn btn--primary">Projects</button>
        <button class="btn btn--secondary">LinkedIn</button>
      </div>
    </div>
    <div class="hero__image">
      <img src= "../../assets/hero-image.png" alt="hero-image" class="hero-image">
      
    </div>
  </div>