@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Playfair+Display:wght@400;700&family=Nunito:wght@400;700&d');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');
//fonts
$font-comfort: 'Comfortaa', sans-serif;
$font-roboto:'Roboto',sans-serif;
$font-playfair:'Playfair Display',serif;
$font-nunito:'Nunito',sans-serif;
//colors
$primary-color:#F9FAFF;
$secondary-color:#FDC435;
$tertiary-color:#FFFFFF;
$font-color-black:#25282B;
$font-color-grey:#828282;
$font-color-light:#9A9FA8;

