<div class="main-about">
  <div class="about">
    <div class="about__content">
    
      <h1 class="about__header">About Me</h1>
      <p class="about__description">
        I'm a passionate UI/UX Designer dedicated to crafting intuitive and visually stunning digital experiences. With a keen eye for detail and a love for problem-solving, I blend creativity with functionality to bring ideas to life. Let’s create something amazing together! 🚀
      </p>
      <div class="about__buttons">
        <button class="btn btn--primary">Resume</button>
        
      </div>
    </div>
    <div class="about__image">
      <img src= "../../assets/bg-2.png" alt="hero-image" class="about-image">
    </div>
  </div>
  <div class="hide-on-mobile">
  <h2 class="tech-header">Tech-Stack</h2>
  <div class="tech-stack-container">
   
    <div class="tech-stack">
        <div class="tech-stack-wrapper">
            <img src="../../assets/html-5.svg" class="tech-img">
            <img src="../../assets/css3.svg" class="tech-img">
            <img src="../../assets/js02-svgrepo-com.svg" class="tech-img">
            <img src="../../assets/react-javascript-js-framework-facebook-svgrepo-com.svg" class="tech-img">
            <img src="../../assets/figma-svgrepo-com.svg" class="tech-img">
            <img src="../../assets/git-fork-svgrepo-com.svg" class="tech-img">
        </div>
        <div class="tech-stack-wrapper">
            <img src="../../assets/photoshop-svgrepo-com.svg" class="tech-img">
            <img src="../../assets/adobe-illustrator-svgrepo-com.svg" class="tech-img">
            <img src="../../assets/css3.svg" class="tech-img">
            <img src="../../assets/js02-svgrepo-com.svg" class="tech-img">
            <img src="../../assets/react-javascript-js-framework-facebook-svgrepo-com.svg" class="tech-img">
            <img src="../../assets/git-fork-svgrepo-com.svg" class="tech-img">
        </div>
  </div>
</div>

</div>