<header class="header">
    <div class="header__component">
        <a href="/home" class="header__logo">Madelyn Torff</a>
        <nav class="header__nav">
            <a href="/home" class="nav__link">Home</a>
            <a href="/about" class="nav__link">About</a>
            <a href="/contact" class="nav__link">Contact</a>
        </nav>
        <div class="hamburger" id="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</header>
