@use './styles/variables';
@use './components/buttons/buttons';
@use './components/footer/footer';
@use './components/hero/hero';
@use './components/header/header';
@use './components/about/about';
@use './components/skills/skills';
@use './components/contact/contact';



html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: variables.$primary-color;
}

#apps { // Ensure this wraps your dynamically loaded sections
    flex: 1;
}

footer {
    margin-top: auto;
}





